/* CSS Llista de la compra */

/* NOTA IMPORTANT: NO ademet menus desplegables */


/*
	El tamany es sempre amb % i em. Excepte el border "border-top: 1px " 
*/


<style>

    body {
        font-size: 100%;
        font-family: Verdana, Arial, sans-serif ;
    }

    .contenedor {
        width: 90%;
        margin: 0 auto;
        background: #dce2e5;
        max-width: 75em; /* 1200px / 16px */
    }
		
    h1 {
    }
		

    header{
        background: #ff6854;
        overflow: hidden;
        padding: 0.9375em; /* 15px / 16px */
        font-family: Verdana, Arial, sans-serif ;
    }


		.logo{
			display: block;
			float: left;
			max-width: 12.5em; // 200px / 16px 
		}

		.logo img{
			max-width: 100%;

		}

		nav{
			float: right;
			margin-top: 0.3125em;
		}
		#menumovil{
			display: none;
		}
		nav ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}
		nav ul li{
			float: left;
		}

		nav ul li a{
			display: block;
			color: #0f0f0f;
			text-decoration: none;
			font-size: 1.125em; /* 18 / 16px*/
			text-align: center;
			padding:0.875em 1.125em; /* 14px / 16px - 18 / 16px*/
		}

		nav ul li a:hover{
			background: #3d3c3e;
			color: white;
			border-radius: 0.375em;

		}
		
		.contenedor-flex {
/*
            max-width: 80%;
            margin: 1rem auto;
*/
            
            flex-direction: row;
            flex-wrap: wrap;
            display: flex;
        }
        
        .contingut {
            background: #9ce317;
            font-family: Verdana, Arial, sans-serif ;
            flex: 3 1 0px;
            padding: 1rem;
            order: 2;
        }
        
        .lateral-1 {
            background: #16c1c7;
            font-family: Verdana, Arial, sans-serif ;
            flex: 1 1 0px;
            padding: 1rem;
            order: 1;
        }
        
        .lateral-2 {
            background: #f50fae;
            flex: 1 1 0px;
            padding: 1rem;
            order: 3;
        }

        footer {
            background: #0f0e0e;
            font-family: Verdana, Arial, sans-serif ;
            color: #fff;
            padding: 10px ;
            flex: 1 1 100%;
            text-align: center;
            order: 4;
        }
		


		/*Medias Quieres en los  910px*/
		@media screen and (max-width: 56.875em){

/*
			.logo {
				float: none;
				margin: 0 auto;
			}
*/
			nav {
				float: none;

			}
			nav li{
				width: 20%;
			}



		}/* Fin de Medias Quieres*/


		/*Medias Quieres en los  620px*/
		@media screen and (max-width: 38.75em){
			body{
				font-size: 85%;
				margin: 0;
			}

			.contenedor{
				width: 100%;
			}
			header{
				padding: 0;
			}
			nav ul{
				display: none;
				background:#222222;
			}


			nav ul li{
				float: none;
				width: auto;
				border-top: 1px solid #696565;
				border-bottom: 1px solid #1e1e1e;
			}

			nav ul li a{
				background: #3d3c3e;
				color: white;
				border-radius:0; /*6px / 16px*/
				margin: 0; 
				transition:all 0.5s ease;
			}

			nav ul li a:hover{
				background: #1D1C1D;
				border-radius: 0;
			}


			/*Estilos para el boton de 3 linea*/
			#menumovil{
				display: block;
				background:#494646;
				position: relative;
				color: white;
				text-decoration:none;
				text-align: center;
				height: 3em; /*48px 16px*/
				line-height: 3em; /*48px 16px*/
			}
			#menumovil:hover{
				background:#000;
			}

			#menumovil:before{
				content: "";
				position: absolute;
				right: 0.75em; /*12 16px*/ 
				top: 0.75em; /*12 16px*/ 
				width: 1.875em; /*30px  16px*/
				height: 0.25em; /*4px 16px*/
				border-top: 4px solid white;
				border-bottom: 12px double white;
				transition:all 0.5s ease;
			}

			#menumovil:hover:before{
				content: "";
				border-top: 4px solid #ff6854;
				border-bottom: 12px double #ff6854;
			}

		}/* Fin de Medias Quieres*/
		
		           
/*     @media (max-width:1000px) { */
	    /*Medias Quieres en los  910px*/
		@media screen and (max-width: 56.875em){
            .contenedor-flex {
                max-width: 100%;
            }
        } /* Fin de Medias Quieres*/
        
       
	        /*Medias Quieres en los  620px*/
		@media screen and (max-width: 38.75em){
            .lateral-1,
            .lateral-2,
            .contingut {
                flex: 1 1 100%;
            }
        } /* Fin de Medias Quieres*/
        
       /*Medias Quieres en los  590px*/
        @media (max-width:590px) {
            .contingut {
                max-width: 100%;
                margin: 0;
            }
           
        }  /* Fin de Medias Quieres*/   

		/* CSS Afegir: pantalla per entrar el producte a comprar*/

.button_afegir { /* clase general */
  float:left;
  border: 1px solid #dedede;
  border-radius: 3px;
  color: #555;
  display: inline-block;
  font: bold 12px/12px HelveticaNeue, Arial;
  padding: 8px 11px; 
  text-decoration: none;
}

.button_afegir_white{
  background: #f5f5f5;
  border-color: #dedede #d8d8d8 #d3d3d3;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
  color: #555;
  text-shadow: 0 1px 0 #fff;
  background: linear-gradient(white, orange); 
}

.button_afegir_white:hover{
    background: #f4f4f4;
    border-color: #c7c7c7 #c3c3c3 #bebebe;
    box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    text-shadow: 0 1px 0 #fdfdfd;
    background: red;
    background: linear-gradient(red, orange); 
}


input[name="producte"] {
	display: inline-block;
  width: 75%;
}


/* CSS per la sub-part SPA */
#SPA_data {
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
    display: flex;
    background: #E0E0E0 ;
    font-family: Verdana, Arial, sans-serif ;
    color: blue ;
    padding: 10px ;
}

#my_date {
    background: #006600 ;
    color: yellow ;
    padding: 5px ;
}
#my_status {
    background: red ;
}



</style>

